#botoncito{
    background-color: #4e4e4e;
    color: aliceblue;
}
/* body{
    background: url(18707.jpg) no-repeat left fixed;
    -webkit-background-size: 40%;
    -moz-background-size: 10%;
    -o-background-size: 10%;
    background-size: contain ;
    border: 1x solid black;
    } */


.container{
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

#fotoform{
background-image: url(18707.jpg);
background-size: cover;
border: 1x solid black;
}

#contenido{
    margin-top: 10%;
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
}
#contenido2{
        max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
}